$primary-color:#ffffff;
$secondary-color: #007ED9;

.servizi{
    background-color: $secondary-color;
    color: $primary-color;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 300px;
        padding: 0px 100px;
    }
}

.services-blocks{
    padding: 10px;
    color: $secondary-color;
    background-color: #ffffff;
    background-image: url(/media/topography.svg);
    div{
        margin: auto;
        .service{
            display: flex;
            width: 60%;
            padding: 30px 0px;
            img{
                
                border-radius: 50%;
            }
            div{
                padding: 10px 20px;
                font-size: 20px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .services-blocks{
        display: block;
        div{
            margin: 20px 0px;
        }
    }
}