* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007ED9;
  padding: 5px 15px;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
}

header h1 {
  color: #ffffff;
  padding: 16px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-left: auto;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

header ul li a .social-icon {
  font-size: 25px;
}

header ul li a:hover {
  color: #e6e6e6;
}

header.isSticky {
  padding: 1px 15px;
}

#mobile-navbar {
  visibility: hidden;
  color: #007ED9;
  position: fixed;
  right: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #007ED9;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #002540;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.services {
  padding: 50px;
}

.services img {
  width: 300px;
}

.services div {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #007ED9;
  font-size: 30px;
}

.services div ul {
  list-style-type: none;
}

.services .left {
  padding-right: 400px;
}

.services .right {
  padding-left: 400px;
}

.interesting-facts {
  background-color: #007ED9;
  padding: 100px 0px;
}

.interesting-facts img {
  width: 400px;
}

.interesting-facts .arrow {
  font-size: 33px;
  margin: 0px 30px;
}

.interesting-facts .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interesting-facts .dots {
  padding: 50px 0px 0px 0px;
  text-align: center;
  color: #cccccc;
}

.interesting-facts .dots i {
  margin: 0px 2px;
}

.interesting-facts .active {
  color: #ffffff;
}

.interesting-facts div {
  color: #ffffff;
  margin: 0px 50px;
}

.interesting-facts p {
  margin: 20px 0px;
  max-width: 400px;
}

footer {
  background-color: #007ED9;
  color: #ffffff;
}

footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

footer ul li {
  padding-right: 20px;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

footer ul li a:hover {
  color: #e6e6e6;
}

footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0060a6;
  padding: 20px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  #mobile-navbar {
    visibility: visible;
  }
  .desktop {
    display: none;
  }
  footer .top {
    display: block;
  }
  footer .top div {
    margin: 30px 0px;
  }
}
