$primary-color:#ffffff;
$secondary-color: #007ED9;

// $primary-color:#007ED9;
// $secondary-color:#ffffff;

* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: "Lato", sans-serif;
}
  
header {
  position: sticky;
  top: -1px;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  padding: 5px 15px;
  transition: padding 0.2s;
  h1{
    color: $primary-color;
    padding: 16px;
  }
  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    li{
      float: left;
      a {
        display: block;
        color: $primary-color;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        transition: color 0.1s;
        .social-icon{
          font-size: 25px;
        }
      }
      a:hover{
        color: darken($primary-color, 10%)
      }
    }
  }
}
header.isSticky{
  padding: 1px 15px;
}

#mobile-navbar{
  visibility: hidden;
  color: $secondary-color;
  position: fixed;
  right: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $primary-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $secondary-color;
    display: block;
    transition: 0.3s;
  }
  a:hover{
    color: darken($secondary-color, 30%);
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
    
.services{
  padding: 50px;
  img{
    width: 300px;
  }
  div{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    font-size: 30px;
    ul{
      list-style-type: none;
    }
  }
  .left{
    padding-right: 400px;
  }
  .right{
    padding-left: 400px;
  }
}

.interesting-facts{
  background-color: $secondary-color;
  padding: 100px 0px;
  img{
    width: 400px;
  }
  .arrow{
    font-size: 33px;
    margin: 0px 30px
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dots{
    padding: 50px 0px 0px 0px;
    text-align: center;
    color: darken($primary-color, 20);
    i{
      margin: 0px 2px;
    }
  }
  .active{
    color: $primary-color;
  }
  div{
    color: $primary-color;
    margin: 0px 50px;
  }
  p{
    margin: 20px 0px;
    max-width: 400px;
  }
}

footer{
  background-color: $secondary-color;
  color: $primary-color;
  ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    li{
      padding-right: 20px;
      a{
        color: $primary-color;
        text-decoration: none;
        transition: 0.1s;
      }
      a:hover{
        color: darken($primary-color, 10%);
      }
    }
  }
  .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darken($secondary-color, 10%);
    padding: 20px;
    font-size: 12px;
  }
}
    
@media only screen and (max-width: 600px) {
  #mobile-navbar{
    visibility: visible;
  }
  .desktop{
    display: none;
  }
  footer{
    .top{
      display: block;
      div{
        margin: 30px 0px;
      }
    }
  }
}